<tr>
    <td><%= message.id %></td>
    <td><%= message.to %></td>
    <td><%= message.message %></td>
    <td><%= message.date %></td>
    <td>
        <button class="btn remove" data-id="<%= message.id %>">Remove</button>
    </td>
</tr>